.buildozer/
.devlocaltmp/
.tox/
bin/
build/
contrib/pyinstaller/
dist/
Electrum-Stratis.egg-info/
Electrum_Stratis.egg-info/
env/
packages
*_trial_temp
*.swp
*.egg/
/electrum.py
gui/qt/icons_rc.py
contrib/build-wine/tmp/
